@charset "UTF-8";
/*************************************************************\
  Developer by Jozek Andrzej Hajduk Sánchez
\*************************************************************/
/*************************************************************\
  Media Queries Mixin
\*************************************************************/
/*************************************************************\
  Variables
\*************************************************************/
/*************************************************************\
  Mixins
\*************************************************************/
/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

/*************************************************************\
  Header
\*************************************************************/
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 4fr 5fr 1fr;
      grid-template: 1fr / 1fr 4fr 5fr 1fr;
  width: 100vw;
  padding: 1rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fbfbfb;
}

.navbar__logo {
  width: 20rem;
  margin-right: 3rem;
}

.navbar__logo img {
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__image {
  width: 2rem;
  margin-right: 3rem;
  cursor: pointer;
}

.navbar__image--profile img {
  border-radius: 50%;
}

.navbar__image--arrow img {
  padding: .5rem;
  border-radius: 50%;
  border: 0.1rem solid #ececec;
}

.navbar__image--arrow img:hover {
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  width: 20rem;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  color: #6e6e6e;
  border: 0.1rem solid #ececec;
  -webkit-transition: width .7s;
  transition: width .7s;
}

.search-container form {
  width: 100%;
  padding-left: 1rem;
}

.search-container__input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: #fbfbfb;
  color: #6e6e6e;
}

.search-container:hover {
  width: 40rem;
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}
