@charset "UTF-8";
/*************************************************************\
  Developer by Jozek Andrzej Hajduk Sánchez
\*************************************************************/
/*************************************************************\
  Media Queries Mixin
\*************************************************************/
/*************************************************************\
  Variables
\*************************************************************/
/* ***********************************************
  Globals
*********************************************** */
/* ***********************************************
  Ligth
*********************************************** */
/* ***********************************************
  Dark
*********************************************** */
/*************************************************************\
  Mixins
\*************************************************************/
/*************************************************************\
  Functions
\*************************************************************/
/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

body::-webkit-scrollbar {
  width: 1.3rem;
}

body::-webkit-scrollbar-track {
  background: #ececec;
}

body.dark::-webkit-scrollbar-track {
  background: #566169;
}

body::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 2rem;
}

body.dark::-webkit-scrollbar-thumb {
  background: #3f474d;
}

body::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

body.dark::-webkit-scrollbar-thumb:hover {
  background: #2a3238;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*************************************************************\
  Header section
\*************************************************************/
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 4fr 5fr 1fr;
      grid-template: 1fr / 1fr 4fr 5fr 1fr;
  width: 100vw;
  padding: 1rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  -webkit-box-shadow: 0.3rem 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.62);
          box-shadow: 0.3rem 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.62);
  background-color: #fbfbfb;
}

body.dark .navbar {
  background-color: #18191a;
}

.navbar__logo {
  width: 20rem;
  margin-right: 3rem;
}

.navbar__logo img {
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__image {
  width: 2rem;
  margin-right: 3rem;
  cursor: pointer;
}

.navbar__image--profile img {
  border-radius: 50%;
}

.navbar__image--arrow img {
  padding: .5rem;
  border-radius: 50%;
  border: 0.1rem solid #ececec;
}

.navbar__image--arrow img:hover {
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

body.dark .navbar__image--arrow img:hover {
  border-color: #ffffff3d;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
          box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
}

body.dark .navbar__image--arrow img {
  border: #3a3b3c;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  width: 20rem;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  background-color: #fbfbfb;
  color: #6e6e6e;
  border: 0.1rem solid #ececec;
  -webkit-transition: width .6s;
  transition: width .6s;
}

body.dark .search-container {
  background-color: #3a3b3c;
  color: #b0b3b8;
  border-color: #3a3b3c;
}

.search-container:hover {
  width: 40rem;
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

.search-container form {
  width: 100%;
  padding-left: 1rem;
}

.search-container__input {
  width: 100%;
  font-family: Helvetica, arial, sans-serif;
  border: 0;
  outline: none;
  background-color: #fbfbfb;
  color: #6e6e6e;
}

body.dark .search-container__input {
  background-color: #3a3b3c;
}

.search-container:hover {
  width: 40rem;
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

body.dark .search-container:hover {
  background-color: #3a3b3c;
  color: #b0b3b8;
  border-color: #ffffff3d;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
          box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
}

/*************************************************************\
  Slider ilumitaion mode
\*************************************************************/
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

.switch input {
  display: none;
}

.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6e6e6e;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

.switch .slider::before {
  content: "";
  position: absolute;
  bottom: -.3rem;
  width: 2rem;
  height: 2rem;
  background-color: #ca0614;
  border-radius: inherit;
  -webkit-transition: .6s;
  transition: .6s;
}

.switch input:checked + .slider {
  background-color: #ececec;
}

.switch input:checked + .slider::before {
  -webkit-transform: translateX(2.5rem);
          transform: translateX(2.5rem);
}

/*************************************************************\
  Top movie section
\*************************************************************/
.top-movie {
  width: 100vw;
  position: relative;
}

.top-movie__image {
  width: 100%;
}

.top-movie__image img {
  width: 100%;
  height: 50vh;
  max-height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-movie__description {
  padding: 0 11rem;
  font-family: Helvetica, arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  color: #6e6e6e;
}

body.dark .top-movie__description {
  color: #b0b3b8;
}

.top-movie__title {
  font-size: 4.8rem;
  padding-top: 13rem;
  padding-bottom: 3rem;
  color: #fdfdfd;
}

.top-movie__info {
  width: 45%;
  padding-bottom: 3rem;
  font-size: 1.8rem;
  color: #fdfdfd;
}

.btn {
  padding: .8rem 3rem;
  margin-right: 2rem;
  font-family: Helvetica, arial, sans-serif;
  color: #e0e1e2;
  border-radius: 2rem;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn--watch {
  border: 0;
  background-color: #eb333e;
  -webkit-box-shadow: -1px 2px 59px -5px rgba(0, 0, 0, 0.77);
          box-shadow: -1px 2px 59px -5px rgba(0, 0, 0, 0.77);
}

.btn--watch:hover {
  background-color: #ca0614;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body.dark .btn--watch {
  -webkit-box-shadow: -1px 2px 59px -5px #e4e6eb;
          box-shadow: -1px 2px 59px -5px #e4e6eb;
}

.btn--info {
  border: 0.1rem solid #e0e1e2;
  background-color: transparent;
}

.btn--info:hover {
  border-color: #e0e1e2;
  color: #3d3d3d;
  background-color: #e0e1e2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*************************************************************\
  Loadings Gif
\*************************************************************/
.loading {
  position: relative;
  top: 50vh;
  width: 100%;
  text-align: center;
}

.loading__icon {
  width: 7rem;
}

/*************************************************************\
  Movie list section
\*************************************************************/
.movie-list {
  padding: 10rem 10rem 1rem 2rem;
  width: 100vw;
  position: relative;
  background-color: #fbfbfb;
}

body.dark .movie-list {
  background-color: #18191a;
}

.movies {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 3rem;
  border-top: 0.2rem solid #ececec;
}

body.dark .movies {
  border-top-color: #3a3b3c;
}

.movies__gender-title {
  display: inline-block;
  padding: 1.5rem 5rem 0 16rem;
  position: absolute;
  top: -2.5rem;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1.6rem;
  background-color: #fbfbfb;
  color: #6e6e6e;
}

body.dark .movies__gender-title {
  background-color: #18191a;
  color: #b0b3b8;
}

.movies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: .5rem;
  padding: 3rem 0 2rem 3rem;
  width: 105%;
  background-color: transparent;
  border-radius: 2rem;
  overflow-x: auto;
}

.movies__container::-webkit-scrollbar {
  height: 0.5rem;
}

.movies__container::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 2rem;
}

body.dark .movies__container::-webkit-scrollbar-track {
  background: #566169;
}

.movies__container::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 2rem;
}

body.dark .movies__container::-webkit-scrollbar-thumb {
  background: #3f474d;
}

.movies__container::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

body.dark .movies__container::-webkit-scrollbar-thumb:hover {
  background: #2a3238;
}

.movie {
  margin-right: 2rem;
  position: relative;
  width: 23rem;
  min-width: 20rem;
  max-width: 23rem;
  height: 37rem;
  min-height: 30rem;
  max-height: 37rem;
  border-radius: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.movie:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

.movie img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie__info {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.3);
}

.movie__info .btn--info {
  width: 3rem;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.movie__info h4 {
  padding: 1rem;
  font-size: 1.6rem;
  font-family: Helvetica, arial, sans-serif;
  text-align: center;
  color: #fbfbfb;
}

.movie:hover .movie__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*************************************************************\
  Modals
\*************************************************************/
.modal {
  position: absolute;
  top: 8rem;
  right: 2rem;
  margin-right: 2rem;
  padding: 1rem 2rem;
  background-color: #fbfbfb;
  border-radius: 2rem;
  font-family: Helvetica, arial, sans-serif;
  -webkit-transition: .4s;
  transition: .4s;
}

body.dark .modal {
  background-color: #18191a;
}

.modal__list {
  font-size: 1.6rem;
  list-style: none;
}

.modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

body.dark .modal__item {
  border-bottom-color: #3a3b3c;
}

.modal__item span {
  padding-left: 1rem;
}

body.dark .modal__item span {
  color: #6e6e6e;
}

.modal__item:hover {
  border-bottom: 0.1rem solid #6e6e6e;
}

body.dark .modal__item:hover {
  border-bottom-color: #b0b3b8;
}

.modal__item:hover span {
  color: #6e6e6e;
}

body.dark .modal__item:hover span {
  color: #b0b3b8;
}

.modal:hover {
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

body.dark .modal:hover {
  border-color: #ffffff3d;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
          box-shadow: 0 0.1rem 0.6rem 0 #570d0d;
}
