@charset "UTF-8";
/*************************************************************\
  Developer by Jozek Andrzej Hajduk Sánchez
\*************************************************************/
/*************************************************************\
  Media Queries Mixin
\*************************************************************/
/*************************************************************\
  Variables
\*************************************************************/
/*************************************************************\
  Mixins
\*************************************************************/
/*************************************************************\
  Functions
\*************************************************************/
/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/*************************************************************\
  Header
\*************************************************************/
.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 4fr 5fr 1fr;
      grid-template: 1fr / 1fr 4fr 5fr 1fr;
  width: 100vw;
  padding: 1rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fbfbfb;
}

.navbar__logo {
  width: 20rem;
  margin-right: 3rem;
}

.navbar__logo img {
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__image {
  width: 2rem;
  margin-right: 3rem;
  cursor: pointer;
}

.navbar__image--profile img {
  border-radius: 50%;
}

.navbar__image--arrow img {
  padding: .5rem;
  border-radius: 50%;
  border: 0.1rem solid #ececec;
}

.navbar__image--arrow img:hover {
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  width: 20rem;
  padding: .5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  color: #6e6e6e;
  border: 0.1rem solid #ececec;
  -webkit-transition: width .6s;
  transition: width .6s;
}

.search-container form {
  width: 100%;
  padding-left: 1rem;
}

.search-container__input {
  width: 100%;
  font-family: Helvetica, arial, sans-serif;
  border: 0;
  outline: none;
  background-color: #fbfbfb;
  color: #6e6e6e;
}

.search-container:hover {
  width: 40rem;
  border-color: #dfe1e500;
  -webkit-box-shadow: 0 0.1rem 0.6rem 0 #20212447;
          box-shadow: 0 0.1rem 0.6rem 0 #20212447;
}

/*************************************************************\
  Main
\*************************************************************/
.top-movie {
  width: 100vw;
  max-height: 50vh;
  position: relative;
  background-color: red;
}

.top-movie__image {
  width: 100%;
}

.top-movie__image img {
  width: 100%;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-movie__description {
  padding: 20rem 10rem 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: Helvetica, arial, sans-serif;
}

.top-movie__title {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color: #fdfdfd;
}

.top-movie__info {
  width: 30%;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: white;
}

.btn {
  padding: .8rem 3rem;
  margin-right: 2rem;
  font-family: Helvetica, arial, sans-serif;
  color: #e0e1e2;
  border-radius: 0.8rem;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn--watch {
  background-color: #eb333e;
  border: 0;
  -webkit-box-shadow: -1px 2px 59px -5px rgba(0, 0, 0, 0.77);
          box-shadow: -1px 2px 59px -5px rgba(0, 0, 0, 0.77);
}

.btn--watch:hover {
  background-color: #ca0614;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn--info {
  border: 0.1rem solid #e0e1e2;
  background-color: transparent;
}

.btn--info:hover {
  border-color: #e0e1e2;
  color: #3d3d3d;
  background-color: #e0e1e2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
