header.header
  figure.header__logo: img(src="", alt="Logo")
  .header__mode
    label(for="ilumination-mode")
      input(type="checkbox", name="ilumination-mode")
      img(src="", alt="Mode icon")
  .search
    span.search__icon: img(src="", alt="Search icon")
    form.search__form(action="", id="form"): input.seacrh__input(type="text", name="movie-search")
  .menu
    figure.menu__image.menu__image--profile: img(src="", alt="Profile icon")
    figure.menu__image.menu__image--arrow-menu: img(src="", alt="Menu")