header
  figure: img(src="", alt="Logo")
  div
    label(for="ilumination-mode")
      input(type="checkbox", name="ilumination-mode")
      img(src="", alt="Mode icon")
  div
    span: img(src="", alt="Search icon")
    input(type="text", name="movie-search")
  div
    figure: img(src="", alt="Profile icon")
    figure: img(src="", alt="Menu")