main
  section.released-movie
    figure.released-movie__image: img(alt="released movie")
    div.released-movie__description
      h1.released-movie__title
      p.released-movie__info
      button.btn.btn--watch-now(type="submit"): span.btn__text
      button.btn.btn--info(type="submit"): span.btn__text
  section.movies-list