main.top-movie
  figure.top-movie__image: img(alt="released movie")
  .top-movie__description
    h1.top-movie__title
    p.top-movie__info
    button.btn.btn--watch(type="submit")
    button.btn.btn--info(type="submit")
section.movie-list