main
  section.top-movie
    figure.top-movie__image: img(alt="released movie")
    div.top-movie__description
      h1.top-movie__title
      p.top-movie__info
      button.btn.btn--watch(type="submit"): span.btn__text
      button.btn.btn--info(type="submit"): span.btn__text
  section.movie-list