//- Developer by Jozek Andrzej Hajduk Sánchez
//- include lib/variables.pug
//- include lib/mixins.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='robots', content='index,follow')
    meta(name='description', content='#{description}')
    title Home | CloneFlix
    link(rel='stylesheet', href='css/styles.css')
  body
    include components/_header.pug