/*************************************************************\
  Globals
\*************************************************************/
/* Developed by Jozek Andrzej Hajduk Sánchez */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 1.3rem;
  }
  &::-webkit-scrollbar-track {
    background: $color-bg-track-slider-ligth;
  }
  &.dark::-webkit-scrollbar-track {
    background: $color-bg-track-slider-dark;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-bg-thumb-slider-ligth;
    border-radius: 2rem;
  }
  &.dark::-webkit-scrollbar-thumb {
    background: $color-bg-thumb-slider-dark;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-bg-thumb-slider-hover-ligth;
  }
  &.dark::-webkit-scrollbar-thumb:hover {
    background: $color-bg-thumb-slider-hover-dark;
  }
}

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
  transition: .6s ease all;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
