/*************************************************************\
  Top movie section
\*************************************************************/

.top-movie {
  width: 100vw;
  position: relative;
  &__image {
    width: 100%;
    img {
      width: 100%;
      max-height: $max-heigth;
      object-fit: cover;
    }
  }
  &__description {
    padding: 16rem 10rem 9rem;
    background-color: $overlay-bg;
    font-family: $font-family;
  }
  &__title {
    font-size: font-size(3.2);
    padding-bottom: 3rem;
    color: $color-text-titles;
  }
  &__info {
    width: 45%;
    padding-bottom: 3rem;
    font-size: font-size(.2);
    color: white;
  }
}

.btn {
  padding: .8rem 3rem;
  margin-right: 2rem;
  font-family: $font-family;
  color: $color-btn-text;
  border-radius: $border-radius-gender-box;
  outline: none;
  transition: .4s;
  &--watch {
    background-color: $color-btn-watch-bg;
    border: 0;
    box-shadow: $gender-box-shadow;
    &:hover {
      background-color: $color-btn-watch-bg-hover;
      transform: scale(1.1);
    }
  }
  &--info {
    border: .1rem solid $color-btn-add-border;
    background-color: transparent;
    &:hover {
      border-color: $color-btn-add-border;
      color: $color-text-primary-ligth;
      background-color: $color-btn-add-bg;
      transform: scale(1.1);
    }
  }
}