/*************************************************************\
  Modals
\*************************************************************/

.modal {
  position: absolute;
  top: 8rem;
  right: 2rem;
  margin-right: 2rem;
  padding: 1rem 2rem;
  border-radius: $border-radius-modal;
  font-family: $font-family;
  transition: .4s;
  &__list {
    font-size: font-size();
    list-style: none;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: .4s;
    span {
      padding-left: 1rem;
    }
  }
  &:hover {
    @include boxShadowLigth;
  }
}