/*************************************************************\
  Movie list section
\*************************************************************/

.movie-list {
  padding: 10rem 10rem 1rem 2rem;
  width: 100vw;
  position: relative;
  background-color: $color-bg-ligth;
}

.movies {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 3rem;
  border-top: .2rem solid $color-border-ligth;
  &__gender-title {
    display: inline-block;
    padding: 1.5rem 5rem 0 16rem;
    position: absolute;
    top: -2.5rem;
    font-family: $font-family;
    font-size: font-size();
    background-color: $color-bg-ligth;
  }
  &__container {
    display: flex;
    margin-left: .5rem;
    padding: 3rem 0 2rem 3rem;
    width: 105%;
    background-color: transparent;
    border-radius: $border-radius-gender-box;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: $color-border-ligth;
      border-radius: 2rem;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c8c8c8;
      border-radius: 2rem;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #888888;
    }
  }
}

.movie {
  margin-right: 2rem;
  position: relative;
  width: 23rem;
  min-width: 20rem;
  max-width: 23rem;
  height: 37rem;
  min-height: 30rem;
  max-height: 37rem;
  border-radius: 2rem;
  // background-color: $color-bg-ligth;
  transition: .4s;
  &:hover {
    transform: scale(1.1);
    @include boxShadowLigth;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
  &__info {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    background-color: $overlay-bg;
    .btn--info {
      width: 3rem;
      border: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: .4s;
    }
    h4 {
      padding: 1rem;
      font-size: font-size();
      font-family: $font-family;
      text-align: center;
      color: $color-bg-ligth;
    }
  }
  &:hover &__info {
    display: flex;
    flex-direction: column;
  }
}